//{"plugins": ["transform-object-rest-spread"]}


{
    "presets": [
      ["es2015",{ "modules": false }],
      "stage-0"
    ],
    "plugins": [
      "transform-object-rest-spread",
      ["component", [
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]
      ]
    ] 
  }